@import "tailwindcss";

@theme {
  --font-outfit: 'Outfit', sans-serif;
}

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
  --safe-right: env(safe-area-inset-right);
}

body {
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
  padding-left: var(--safe-left);
  padding-right: var(--safe-right);
  /* overscroll-behavior-y: none; <-- Temporarily disabled to specific iOS keyboard glitch */
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea {
  user-select: text !important;
  -webkit-user-select: text !important;
  touch-action: manipulation;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.theme-oled {
  background-color: #000000;
  color: #ffffff;
}

.theme-day {
  background-color: #f8fafc;
  color: #0f172a;
}