@import "tailwindcss";

@theme {
  --font-outfit: 'Outfit', sans-serif;
}

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
  --safe-right: env(safe-area-inset-right);
}

body {
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
  padding-left: var(--safe-left);
  padding-right: var(--safe-right);
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

/* Fix for iOS PWA unclickable inputs */
input,
textarea {
  -webkit-user-select: text;
  user-select: text;
  touch-action: manipulation;
  /* Prevent zoom on focus */
  font-size: 16px;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.theme-oled {
  background-color: #000000;
  color: #ffffff;
}

.theme-day {
  background-color: #f8fafc;
  color: #0f172a;
}